<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <b>mySmartGrid</b> is the smart device control for your home.
  It enables you to understand your energy consumption and share your experiences with others.
</p>
