<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  To get help on this application, please visit our
  <a href="https://www.mysmartgrid.de/content/h%C3%A4ufige-fragen-und-antworten">FAQ</a> and
  <a href="https://www.mysmartgrid.de/forum">forum</a>.
</p>
