<div class="center hero-unit">
  <h1>Welcome to mySmartGrid</h1>

  <h2>
    <b>mySmartGrid</b> is the smart device control for your home.
    It enables you to understand your energy consumption and share your experiences with others.
  </h2>
</div>

<div id="gauge1"></div>

<%= link_to image_tag("logo.png", alt: "mySmartGrid"), 'https://www.mysmartgrid.de' %>

