<div class="logo-div">
  <%= link_to image_tag("logo.png", alt: "mySmartGrid"), 'https://www.mysmartgrid.de' %>
</div>
<div class="center hero-unit">
  <h1>Welcome to mySmartGrid</h1>

  <h2>
    <b>mySmartGrid</b> is the smart device control for your home.
    It enables you to understand your energy consumption and share your experiences with others.
  </h2>
</div>

<div class="illustration-div">
    <%= image_tag("house.png", alt: "House") %>
</div>

<section class="chart-container">

  <div id="gauge" class="chart-div"></div>

  <div class="chart-description-div">
    <h1>Gauge</h1>

    Description of the first gauge. This is a short description of the gauge chart. This describes the gauge you see
    on the left. On the left you see this gauge. This is a short description of the gauge chart. Description of the
    first gauge. Description of the first gauge. This is a very short explanation of the gauge chart on the left.
    Description of the first gauge. Description of the first gauge. This is a very short explanation of the gauge
    chart on the left.
  </div>
</section>

<section class="chart-container">

  <div id="lineChart" class="chart-div"></div>

  <div class="chart-description-div">
    <h1>Line Chart</h1>

    Description of the line chart. This is a short description of the line chart. This describes the line chart you see
    on the left. On the left you see this gauge. This is a short description of the line chart. Description of the
    line chart. Description of the line chart. This is a very short explanation of the line chart on the left.
    Description of the line chart. Description of the line chart. This is a very short explanation of the line chart
    on the left.
  </div>
</section>


