<div class="logo-div">
  <%= link_to image_tag("logo.png", alt: "mySmartGrid"), 'https://www.mysmartgrid.de' %>
</div>
<div class="center hero-unit">
  <h1>Welcome to mySmartGrid</h1>

  <h2>
    <b>mySmartGrid</b> is the smart device control for your home.
    It enables you to understand your energy consumption and share your experiences with others.
  </h2>
</div>

<section class="chart-container">

  <div class="gauge-div" id="gauge1"></div>

  <div class="chart-description-div">
    <h1>First Gauge</h1>

    Description of the first gauge. This is a short description of the gauge chart. This describes the gauge you see
    on the left. On the left you see this gauge. This is a short description of the gauge chart. Description of the
    first gauge. Description of the first gauge. This is a very short explanation of the gauge chart on the left.
    Description of the first gauge. Description of the first gauge. This is a very short explanation of the gauge
    chart on the left.
  </div>
</section>

<section class="chart-container">

  <div class="gauge-div" id="gauge2"></div>

  <div class="chart-description-div">
    <h1>Second Gauge</h1>

    Description of the second gauge. This is a short description of the gauge chart. This describes the gauge you see
    on the left. On the left you see this gauge. This is a short description of the gauge chart. Description of the
    first gauge. Description of the first gauge. This is a very short explanation of the gauge chart on the left.
    Description of the first gauge. Description of the first gauge. This is a very short explanation of the gauge
    chart on the left.
  </div>
</section>


