<footer class="footer">
  <small>
    <a href="http://www.itwm.fraunhofer.de/"><%= t('link.itwm') %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('title.about'), about_path %></li>
      <li><%= link_to t('title.contact'), contact_path %></li>
    </ul>
  </nav>
</footer>
